html {
    height : 100%;
}

body {
    height : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container {
    background-color: #fab5c9;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
}

button {
    border-radius: 10px;
    width: 50px;
    height: 50px;
}

.score-board {
    margin: 30px;
    display: flex;
    background-color: lightpink;
    padding: 7%;
    justify-content: center;
    align-items: center;
    
}

